/* Agar container tidak terlalu lebar */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

header {
  background-image: linear-gradient(rgb(0 0 0 / 71%), rgb(2 13 24)),
    url("./img/bg-header.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #020d18;
}

nav {
  background-color: transparent;
  margin-top: -70px;
}

footer {
  background-color: #0f1c27;
}

/* ================== */
/*   movie-container  */
/* ================== */

.movie-container {
  position: relative;
  cursor: pointer;
}

.movie-container img {
  transition: filter 0.3s ease-in-out;
}

.movie-container:hover img {
  filter: brightness(50%);
}

.badge.vote {
  position: absolute;
  top: 3%;
  right: 9%;
  font-size: 1rem;
}

/* ============== */
/*   movie-info   */
/* ============== */

.movie-info {
  color: white;
  position: absolute;
  text-align: center;
  padding: 0 1.5rem;
  width: 100%;
  top: 16%;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.movie-container:hover .movie-info {
  opacity: 1;
}

.movie-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* Styles for smaller screens */
@media (max-width: 767px) {
  .movie-info {
    top: 9%;
  }
  .movie-info h2 {
    font-size: 0.8rem; /* Adjust the font size as needed */
  }

  .movie-info p,
  h6 {
    font-size: 0.8rem; /* Adjust the font size as needed */
  }

  .btn-outline-primary {
    font-size: 0.6rem;
    padding: 0.2rem;
    background-color: #0d6efd;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-outline-primary:hover {
    font-size: 0.6rem;
    padding: 0.2rem;
    background-color: white;
    color: #0d6efd;
  }

  .badge.vote {
    position: absolute;
    top: 3%;
    right: 9%;
    font-size: 0.6rem;
  }
}

.btn-outline-primary {
  font-weight: bold;
  background-color: #0d6efd;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
  font-weight: bold;
  background-color: white;
  color: #0d6efd;
}

.movie-info .overview {
  text-align: left;
  padding: 0 0.2rem;
}

/* Add this CSS to your stylesheet */
.movie-card {
  height: 100%; /* Set a fixed height for the card */
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1; /* Allow the card body to expand within the card */
  overflow: hidden; /* Hide any overflow content */
}
